<footer class="bg-dark text-white pt-4 pb-2">
  <div class="container text-center text-md-start">
    <div class="row">
      <!-- Company Info -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase">My Company</h5>
        <p>
          Building solutions for a better tomorrow. Contact us for more info.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Home</a></li>
          <li><a href="#" class="text-white text-decoration-none">About</a></li>
          <li><a href="#" class="text-white text-decoration-none">Services</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase">Contact Us</h5>
        <p>Email: info@company.com</p>
        <p>Phone: +123 456 7890</p>
        <p>Address: 123 Main St, City, Country</p>
      </div>
    </div>

    <hr class="border-light" />

    <div class="text-center">
      &copy; 2025 My Company. All rights reserved.
    </div>
  </div>
</footer>
